# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environment
venv/
.env/

# YOLO / training outputs
runs/
weights/
*.onnx

# Dataset
dataset/
datasets/

# Google Colab
/content/

# OS
.DS_Store
Thumbs.db